<h2>Plan a Flight</h2>
<%= render partial: "shared/flight_form", locals: {new_object: @flight} %>

<h2>Flight Options</h2>
<ul>
<% @flights_list.each do |flight| %>


  <li><%= flight.origin %></li>
  <li><%= flight.destination %></li>

<% end %>
</ul>
