<style>
  h3 {  margin-top: 15px;
    text-align: center;}
</style>

  <h3>Edit Ground Transportation to an Airport</h3><br>
  <%= render partial: "shared/ground_form", locals: {new_object: @ground} %>
