<style>
  p    {color: darkblue;
    font-weight: bold;
    text-align: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  #icons {
    border: 2px solid darkblue;
    border-radius: 25px;
  }
  body {
    background-image: url(<%= asset_path 'sky.jpg' %>);
    background-position: center;
  }
</style>
<br><br>
<div id="icons">
  <!-- <div class="container">
  <img src="../assets/MUMBOOO.png" alt="Mumbo" class="center">
</div> -->

<div class="row">
  <div class="col-lg">
    <p><br>
      <a href="/search">
        <img style= "width: 80%; height: 75%" src="<%= asset_path 'plane.png' %>" alt="plane">
      </a>
    </p>
  </div>
  <div class="col-lg">
    <p>
      <a href= "trips/airports" >
        <img style= "width: 100%; height: 65%" src="<%= asset_path 'airport.png' %>" alt="airport">
      </a>
    </p>
  </div>
  <div class="col-lg">
    <p><br>
      <a href="grounds/new">
        <img style= "width: 100%; height: 65%" src="<%= asset_path 'transit.png' %>" alt="bus">
      </a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <p>Lookup flights to any destination.</p>
  </div>
  <div class="col-lg">
    <p>Compare flights at nearby airports.</p>
  </div>
  <div class="col-lg">
    <p>Get directions to the airport.</p>
  </div>
</div>

</div>
