<br>
<h2>Look up a Flight</h2>
<br>
<input type="text" id="auto-complete-airport-1" class="inp" name="origin" placeholder="Airport">

<%= render partial: "shared/user_form", locals: {new_object: @user} %>
